*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding:2rem;
    border-radius: 1rem;
    min-height: 50%;
    width:50%;

}
form{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
form select,button,input {
    width:100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

     
}
form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;

}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.msg{
    margin: 2rem 0 2rem 0;
}